<section
  class="section section_advanteges-background section_advantages-padding"
>
  <div class="container">
    <h2 class="hidden">Advantages</h2>
    <ul class="advanteges-list list">
      <li class="advantages-list__item advantages-list__item_background-cow">
        <p class="advantages-list__accent-text">721</p>
        <p class="advantages-list__description-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item_background-weight">
        <p class="advantages-list__accent-text">16kg</p>
        <p class="advantages-list__description-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="advantages-list__item advantages-list__item_background-icecream"
      >
        <p class="advantages-list__accent-text">84</p>
        <p class="advantages-list__description-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
