<!-- product -->
<button class="btn-bg-transparent" type="button">
    Products
</button>
<!-- how its made? -->
<button class="btn-all-transparent" type="button">
    How it’s made?

</button>
<!-- 
buy now fw 600 -->

<button class="btn-bg__buy-now" type="button">
    <span>Buy now</span> <span class="btn__symbol">&#62;</span>
</button>

<!-- our location -->

<button class="btn-bg__our-lock" type="button">
    <span>Our Locations</span> <span class="btn__symbol-our-lock">&#62;</span>
</button>

<!-- franchise -->

<button class="btn-bg-transparent__light" type="button">
    <span>Franchise</span> <span class="btn__symbol__light">&#62;</span>
</button>