<!-- Contacts -->
<section class="contacts" id="contact">
    <div class="container ">
        <h2 class="hidden">contacts of our locations</h2>
        <div class="contacts-container">
            <ul class="contacts-information-list">
                <li class="contacts-information-list__item">
                    <ul class="contacts-location-list">
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-name">CAFE</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-sity">Chicago</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <a class="contacts-location-list__item-address" href="https://goo.gl/maps/aNZhbgm4XF3M7efh8"
                                target="_blank" rel="noopener noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415,
                                USA</a>
                        </li>
                    </ul>
                    <ul class="contacts-opening_hours-list">

                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-days">Monday - Friday</p>
                        </li>
                        <li class="contacts-opening_hours-list__item weekdays">
                            <p class="contacts-opening_hours-list__item-time">06:00 AM - 10:00 PM</p>
                        </li>

                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-days">Saturday - Sunday</p>
                        </li>
                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-time ">08:00 AM - 16:00 PM</p>
                        </li>



                    </ul>
                    <ul class="contacts-menu-list">
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">noreply@envato.com</a>
                        </li>

                    </ul>
                </li>
                <li class="contacts-information-list__item">
                    <ul class="contacts-location-list">
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-name contacts-food_truck">FOOD TRUCK</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-sity">Los Angeles</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <a class="contacts-location-list__item-address" href="https://goo.gl/maps/aNZhbgm4XF3M7efh8"
                                target="_blank" rel="noopener noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415,
                                USA</a>
                        </li>
                    </ul>
                    <ul class="contacts-opening_hours-list">

                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-days">Monday - Friday</p>
                        </li>
                        <li class="contacts-opening_hours-list__item weekdays">
                            <p class="contacts-opening_hours-list__item-time">06:00 AM - 10:00 PM</p>
                        </li>

                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-days">Saturday - Sunday</p>
                        </li>
                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-time">08:00 AM - 16:00 PM</p>
                        </li>


                    </ul>
                    <ul class="contacts-menu-list">
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="contacts-information-list__item">
                    <ul class="contacts-location-list">
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-name">CAFE</p>
                        </li class="contacts-location-list__item">
                        <li>
                            <p class="contacts-location-list__item-sity">New York</p>
                        </li class="contacts-location-list__item">
                        <li class="contacts-location-list__item">
                            <a class="contacts-location-list__item-address" href="https://goo.gl/maps/aNZhbgm4XF3M7efh8"
                                target="_blank" rel="noopener noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415,
                                USA</a>
                        </li>
                    </ul>
                    <ul class="contacts-opening_hours-list">

                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-days">Monday - Friday</p>
                        </li>
                        <li class="contacts-opening_hours-list__item weekdays">
                            <p class="contacts-opening_hours-list__item-time ">06:00 AM - 10:00 PM</p>
                        </li>


                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-days">Saturday - Sunday</p>
                        </li>
                        <li class="contacts-opening_hours-list__item">
                            <p class="contacts-opening_hours-list__item-time">08:00 AM - 16:00 PM</p>
                        </li>



                    </ul>
                    <ul class="contacts-menu-list">
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <ul class="contacts-btn-list">
            <li class="contacts-btn-list__item">
                <button class="btn-bg__our-lock data-modal-Locations-open" type="button" data-modal-Locations-open>
                    <span>Our Locations</span> <span class="btn__symbol-our-lock">&#62;</span>
                </button>
            </li>
            <li class="contacts-btn-list__item">
                <button class="btn-bg-transparent__light data-modal-franchise-open" type="button"
                    data-modal-franchise-open>
                    <span>Franchise</span> <span class="btn__symbol__light">&#62;</span>
                </button>
            </li>
        </ul>
    </div>
    <!-- modal -->

    <div class="backdrop-contact is-hidden" data-modal-Locations>
        <div class="modal-Locations">
            <button type="button" class="modal-Locations-close-btn " data-modal-Locations-close>
                <svg class="modal-Locations-close-btn-icon" width="17" height="17">
                    <use href="./images/sprite-svg/symbol-arial.svg#close-btn"></use>
                </svg>
            </button>
            <p class="modal-window-text">Our Locations</p>
            <iframe class="modal-window-map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.33858249805!2d-87.8720468703105!3d41.83390366660645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1662455058876!5m2!1sru!2sua"
                height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <form class="modal-form">
                <label class="modal-form-field">
                    <span class="modal-form-input-desc">Имя</span>
                    <span class="modal-form-input-wrapper">
                        <input type="text" class="modal-form-input" required pattern="^[a-zA-Zа-яА-я]+" minlength="2">
                        
                    </span>
                </label> -->

            <button type="submit" class="modal-form-submit">Open map</button>
            </form>
        </div>
    </div>

    <!-- Modal Franchise -->
    <div class="backdrop-contact is-hidden" data-modal-franchise>
        <div class="modal-franchise">
            <button type="button" class="modal-franchise-close-btn" data-modal-franchise-close>
                <svg class="modal-franchise-close-btn-icon" width="17" height="17">
                    <use href="./images/sprite-svg/symbol-arial.svg#close-btn"></use>
                </svg>
            </button>
            <p class="modal-window-text">Thank you for your interest in owning an Ice Cream shop</p>
            <p class="modal-window-text-message">Due to the overwhelming volume of franchise requests we are not
                accepting new franchisee applications at this time. Once
                the application process resumes, we will contact you for further information. Please fill out the
                contact information
                below and we will reach out for additional information. We appreciate your patience.</p>
            <form class="modal-franchise-form">
                <label class="modal-franchise-form__field ">

                    <span class="modal-form-input-wrapper">
                        <input type="text" class="modal-franchise-form__input" required placeholder="Name"
                            pattern="^[a-zA-Zа-яА-я]+" minlength="2">

                    </span>
                </label>
                <label class="modal-form-field">

                    <span class="modal-form-input-wrapper">
                        <input type="tel" class="modal-franchise-form__input" required placeholder="Phone"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx">

                    </span>
                </label>
                <label class="modal-form-field">

                    <span class="modal-form-input-wrapper">
                        <input type="email" class="modal-franchise-form__input" required placeholder="Email">

                    </span>
                </label>
                <label for="">

                    <textarea name="" class="modal-franchise-form__message" placeholder="Comment"></textarea>
                </label>

                <button type="submit" class="modal-form-submit">Submit</button>
            </form>
        </div>
    </div>
</section>

<script src="./index.js"></script>