<!-- Contacts -->
<section class="contacts">
    <div class="container ">
        <h2 class="hidden">contacts of our locations</h2>
        <div class="contacts-container">
            <ul class="contacts-information-list">
                <li class="contacts-information-list__item">
                    <ul class="contacts-location-list">
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-name">CAFE</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-sity">Chicago</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <a class="contacts-location-list__item-address" href="https://goo.gl/maps/aNZhbgm4XF3M7efh8"
                                target="_blank" rel="noopener noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                        </li>
                    </ul>
                    <ul class="contacts-opening_hours-list">
                        <div class="contacts-opening_hours-box-weekdays">
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item-days">Monday - Friday</p>
                            </li>
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item-time">06:00 AM - 10:00 PM</p>
                            </li>
                        </div>
                        <div class="contacts-opening_hours-box-weekend">
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item-days">Saturday - Sunday</p>
                            </li>
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item">08:00 AM - 16:00 PM</p>
                            </li>
                        </div>
                        
                        
                    </ul>
                    <ul class="contacts-menu-list">
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">noreply@envato.com</a>
                        </li>
            
                    </ul>
                </li>
                <li class="contacts-information-list__item">
                    <ul class="contacts-location-list">
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-name contacts-food_truck">FOOD TRUCK</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-sity">Los Angeles</p>
                        </li>
                        <li class="contacts-location-list__item">
                            <a class="contacts-location-list__item-address" href="https://goo.gl/maps/aNZhbgm4XF3M7efh8"
                                target="_blank" rel="noopener noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                        </li>
                    </ul>
                    <ul class="contacts-opening_hours-list">
                        <div class="contacts-opening_hours-box-weekdays">
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item-days">Monday - Friday</p>
                            </li>
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item">06:00 AM - 10:00 PM</p>
                            </li>
                        </div>
                        <div class="contacts-opening_hours-box-weekend">
                            <li  class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item-days">Saturday - Sunday</p>
                            </li>
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item">08:00 AM - 16:00 PM</p>
                            </li>
                        </div>
            
                    </ul>
                    <ul class="contacts-menu-list">
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="contacts-information-list__item">
                    <ul class="contacts-location-list">
                        <li class="contacts-location-list__item">
                            <p class="contacts-location-list__item-name">CAFE</p>
                        </li class="contacts-location-list__item">
                        <li>
                            <p class="contacts-location-list__item-sity">New York</p>
                        </li class="contacts-location-list__item">
                        <li class="contacts-location-list__item">
                            <a class="contacts-location-list__item-address" href="https://goo.gl/maps/aNZhbgm4XF3M7efh8"
                                target="_blank" rel="noopener noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                        </li>
                    </ul>
                    <ul class="contacts-opening_hours-list">
                        <div class="contacts-opening_hours-box-weekdays">
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item-days">Monday - Friday</p>
                            </li>
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item">06:00 AM - 10:00 PM</p>
                            </li>
                        </div>
                        <div class="contacts-opening_hours-box-weekend">
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item-days">Saturday - Sunday</p>
                            </li>
                            <li class="contacts-opening_hours-list__item">
                                <p class="contacts-opening_hours-list__item">08:00 AM - 16:00 PM</p>
                            </li>
                        </div>
                       
                        
                    </ul>
                    <ul class="contacts-menu-list">
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts-menu-list__item">
                            <a class="contacts-menu-list__item-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <ul class="contacts-btn-list">
            <li class="contacts-btn-list__item">
                <button class="btn-bg__our-lock" type="button">
                    <span>Our Locations</span> <span class="btn__symbol-our-lock">&#62;</span>
                </button>
            </li>
            <li class="contacts-btn-list__item">
                <button class="btn-bg-transparent__light" type="button">
                    <span>Franchise</span> <span class="btn__symbol__light">&#62;</span>
                </button>
            </li>
        </ul>
    </div>
</section>