<footer class="footer">
    <div class="footer-container container">
        <div class="footer-wrapper">
            <div class="footer_slogan">
                <p class="foter_slogan--start">homemade ice cream made</p>
                <p class="foter_slogan--end">with passion</p>
            </div>
            <div class="footer_contacts">
                <ul class="footer-social">
                    <li class="footer-social_element">
                        <a class="footer-social_link" href="https://github.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="github">
                            <svg class="footer-social_icon" width="19" height="19">
                                <use href="./images/sprite-svg/symbol-vector.svg#git-vector"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social_element">
                        <a class="footer-social_link" href="https://www.telegram.org/" target="_blank"
                            rel="noopener noreferrer" aria-label="telegram">
                            <svg class="footer-social_icon" width="19" height="15">
                                <use href="./images/sprite-svg/symbol-vector.svg#tg-vector"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social_element">
                        <a class="footer-social_link" href="https://www.facebook.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="facebook">
                            <svg class="footer-social_icon" width="9" height="19">
                                <use href="./images/sprite-svg/symbol-vector.svg#fecebook-vector"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer_tel-desc">
                    Feel free to contact
                    <a href="tel:+610383766284" class="footer-tel">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="footer-copyright_element">&#169 2022 - IceCream. </p>
            <p class="footer-copyright_element">&nbsp; All Rights Reserved.</p>

        </div>
    </div>
</footer>