<header class="header" id="home">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <svg class="logo_svg">
        <use href="./images/sprite-svg/symbol-arial.svg#icelogo"></use>
      </svg>
    </a>
    <nav class="site-nav navh">
      <ul class="site-nav__list">
        <li class="site-nav__items">
          <a href="#home" class="site-nav__links">Home</a>
        </li>
        <li class="site-nav__items">
          <a href="#how-made" class="site-nav__links">How it&#39;s made?</a>
        </li>
        <li class="site-nav__items">
          <a href="#our-products" class="site-nav__links">Our products</a>
        </li>
        <li class="site-nav__items">
          <a href="#contact" class="site-nav__links">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-open" data-menu-open>
      <svg class="mobile-menu-open__icon" width="32" height="32">
        <use href="./images/sprite-svg/symbol-arial.svg#burger"></use>
      </svg>
    </button>

    <button class="btn-bg__buy-now btn-bg__buy-now_desk-tablet click-buy-now" type="button" data-modal-open-buy-now>
      <span>Buy now</span> <span class="btn__symbol">&#62;</span>
    </button>
  </div>

  <!-- Mobile menu -->

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
      <a href="" class="logo-mobile">
        <svg class="logo_svg" width="40" height="37">
          <use href="./images/sprite-svg/symbol-arial.svg#icelogo"></use>
        </svg>
      </a>
      <button class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-icon" width="32" height="32">
          <use href="./images/sprite-svg/symbol-arial.svg#ep_close"></use>
        </svg>
      </button>
      <nav>
        <nav class="site-nav-mobile">
          <ul class="site-nav-mobile__list">
            <li class="site-nav-mobile__items">
              <a href="#home" class="site-nav-mobile__links">Home</a>
            </li>

            <li class="site-nav-mobile__items">
              <a href="#how-made" class="site-nav-mobile__links">How it&#39;s made?</a>
            </li>
            <li class="site-nav-mobile__items">
              <a href="#our-products" class="site-nav-mobile__links">Our products</a>
            </li>
            <li class="site-nav-mobile__items">
              <a href="#contact" class="site-nav-mobile__links">Contact</a>
            </li>
          </ul>
        </nav>

        <button class="btn-bg__buy-now btn-bg__buy-now_mobile-menu click-buy-now" type="button" data-modal-open-buy-now>
          <span>Buy now</span> <span class="btn__symbol">&#62;</span>
        </button>
      </nav>
    </div>
  </div>

  <!-- modal window -->

  <div class="backdrop is-hidden-buy-now" data-modal-buy-now>
    <div class="modal">
      <button type="button" class="modal-close-btn" data-modal-close-buy-now>
        <svg class="modal-close-btn__icon">
          <use href="./images/sprite-svg/symbol-arial.svg#close-btn"></use>
        </svg>
      </button>
      <form class="modal-form-coctail">
        <p class="modal__title">Buy now</p>
        <div class="modal-image-gread">
          <ul class="modal-cards-list">
            <li class="modal-cards__items">
              <input id="icecream-check" type="checkbox" name="cocktail-check"
                class="modal-form-check_icecream hidden-title" />
              <label for="icecream-check" class="modal-cards__links icecream-links">
                <picture class="modal-cards__image icecream-image">
                  <source srcset="./images/modal-png-tabdesk/icecream-tabdesk-x1-min.png 1x,
                ./images/modal-png-tabdesk/icecream-tabdesk-x2-min.png 2x" media="(min-width: 768px)" />
                  <source srcset="./images/modal-png-mobile/icecream-mobile-x1-min.png 1x,
                ./images/modal-png-mobile/icecream-mobile-x2-min.png 2x
                " media="(max-width: 767px)" />
                  <img src="./images/modal-png-mobile/icecream-mobile-x1-min.png" alt="Ice cream" />
                </picture>
                <span class="modal-cards__title">ice cream</span>
              </label>
            </li>
            <li class="modal-cards__items">
              <input id="icecoffee-check" type="checkbox" name="cocktail-check"
                class="modal-form-check_icecoffee hidden-title" />
              <label for="icecoffee-check" class="modal-cards__links icecoffee-links">
                <picture class="modal-cards__image icecoffee-image">
                  <source srcset="./images/modal-png-tabdesk/icecoffee-tabdesk-x1-min.png 1x,
                ./images/modal-png-tabdesk/icecoffee-tabdesk-x2-min.png 2x" media="(min-width: 768px)" />
                  <source srcset="./images/modal-png-mobile/icecoffee-mobile-x1-min.png 1x,
                ./images/modal-png-mobile/icecoffee-mobile-x2-min.png 2x
                " media="(max-width: 767px)" />
                  <img src="./images/modal-png-mobile/icecoffee-mobile-x1-min.png" alt="Ice coffee" />
                </picture>
                <span class="modal-cards__title">ice coffee</span>
              </label>
            </li>
            <li class="modal-cards__items">
              <input id="milkshake-check" type="checkbox" name="cocktail-check"
                class="modal-form-check_milkshake hidden-title" />
              <label for="milkshake-check" class="modal-cards__links milkshake-links">
                <picture class="modal-cards__image milkshake-image">

                  <source srcset="./images/modal-png-tabdesk/milkshake-tabdesk-x1-min.png 1x,
                ./images/modal-png-tabdesk/milkshake-tabdesk-x2-min.png 2x" media="(min-width: 768px)" />
                  <source srcset="./images/modal-png-mobile/milkshake-mobile-x1-min.png 1x,
                            ./images/modal-png-mobile/milkshake-mobile-x2-min.png 2x

                " media="(max-width: 767px)" />
                  <img src="./images/modal-png-mobile/milkshake-mobile-x1-min.png" alt="Milkshake" />
                </picture>
                <span class="modal-cards__title">milkshake</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="modal-form-input-gread">
          <label class="modal-form-coctail-label">
            <span class="modal-form-coctail-input-wrapper">
              <input type="text" name="user_name" class="modal-form-coctail-inpt" pattern="^[a-zA-zа-яА-я]+$"
                minlength="2" placeholder="Name" required />
            </span>
          </label>
          <label class="modal-form-coctail-label">
            <span class="modal-form-coctail-input-wrapper">
              <input type="tel" name="user_phone" class="modal-form-coctail-inpt"
                pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" title="xxxxxxxxxx" placeholder="Phone" required />
            </span>
          </label>
          <label class="modal-form-coctail-label">
            <span class="modal-form-coctail-input-wrapper">
              <textarea name="user_massage" cols="30" rows="3" class="modal-form-coctail-inpt massage"
                placeholder="Comment"></textarea>
            </span>
          </label>
        </div>
        <div class="modal-button-form-wrapper">
          <button class="btn-bg__buy-now btn-bg__submit" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <script src="./js/modal-buy-now.js"></script>
  <script src="./js/mobile-menu.js"></script>
</header>