<header class="header" id="home">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <svg class="logo_svg">
        <use href="./images/sprite-svg/symbol-arial.svg#icelogo"></use>
      </svg>
    </a>
    <nav class="site-nav navh">
      <ul class="site-nav__list">
        <li class="site-nav__items">
          <a href="#home" class="site-nav__links">Home</a>
        </li>
        <li class="site-nav__items">
          <a href="#how-made" class="site-nav__links">How it&#39;s made?</a>
        </li>
        <li class="site-nav__items">
          <a href="#our-products" class="site-nav__links">Our products</a>
        </li>
        <li class="site-nav__items">
          <a href="#contact" class="site-nav__links">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-open" data-menu-open>
      <svg class="mobile-menu-open__icon" width="32" height="32">
        <use href="./images/sprite-svg/symbol-arial.svg#burger"></use>
      </svg>
    </button>
    <button
      class="btn-bg__buy-now btn-bg__buy-now_desk-tablet click-buy-now"
      type="button"
      data-modal-open-buy-now
    >
      <span>Buy now</span> <span class="btn__symbol">&#62;</span>
    </button>
  </div>
</header>
