<section id="home" class="hero">
    <div class="container hero__container">
        <h1 class="hero__title">ice cream made with <span class="hero__title_font-size">passion</span></h1>
        <ul class="hero__container-btn">
            <li class="hero__wrapper-btn">
                <a href="#our-products" class="hero__link-transparent">
                    Products
                </a>
            </li>
            <li class="hero__wrapper-btn">
                <a href="#how-made" class="hero__all-transparent hero__btn-all-transparent_size">
                    How it’s made?
                </a>
            </li>
        </ul>
        <ul class="hero__info">
            <li class="hero__info-wrapper">
                <picture>
                    <source
                        srcset="./images/hero/hero_plateOfIceCream_Desktop.webp 1x, ./images/hero/hero_plateOfIceCream_Desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="./images/hero/hero_plateOfIceCream_Desktop.png 1x, ./images/hero/hero_plateOfIceCream_Desktop@2x.png 2x"
                        media="(min-width: 1200px)" />

                    <source
                        srcset="./images/hero/hero_plateOfIceCream_Tablet.webp 1x, ./images/hero/hero_plateOfIceCream_Tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source
                        srcset="./images/hero/hero_plateOfIceCream_Tablet.png 1x, ./images/hero/hero_plateOfIceCream_Tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <img src="./images/hero/hero_plateOfIceCream_Desktop.png" alt="a plate of ice cream"
                        class="hero__info-img">
                </picture>
            </li>
            <li class="hero__info-wrapper">
                <p class="hero__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <button class="hero__arrow-btn">
                    <svg class="hero__arrow" width="40" height="20">
                        <use href="./images/sprite-svg/symbol-arial.svg#icon-arrow_defolt"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <picture>
            <source srcset="./images/hero/hero_iceCream_Mobile.webp 1x, ./images/hero/hero_iceCream_Mobile@2x.webp 2x"
                media="(max-width: 767px)" type="image/webp" />
            <source srcset="./images/hero/hero_iceCream_Mobile.png 1x, ./images/hero/hero_iceCream_Mobile@2x.png 2x"
                media="(max-width: 767px)" />

            <source
                srcset="./images/hero/hero_iceCream_Desktop_new.webp 1x, ./images/hero/hero_iceCream_Desktop_new@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp" />
            <source
                srcset="./images/hero/hero_iceCream_Desktop_new.png 1x, ./images/hero/hero_iceCream_Desktop_new@2x.png 2x"
                media="(min-width: 1200px)" />

            <source srcset="./images/hero/hero_iceCream_Tablet.webp 1x, ./images/hero/hero_iceCream_Tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp" />
            <source srcset="./images/hero/hero_iceCream_Tablet.png 1x, ./images/hero/hero_iceCream_Tablet@2x.png 2x"
                media="(min-width: 768px)" />

            <img src="./images/hero/hero_iceCream_Desktop_new.png" alt="an ice cream cone" class="hero__img">
        </picture>
        <ul class="hero__numbers-info">
            <li class="hero__number-wrapper">
                <span class="hero__number">16</span>
                <p class="hero__numder-text">cafes</p>
            </li>
            <li class="hero__number-wrapper">
                <span class="hero__number">23</span>
                <p class="hero__numder-text">food trucks</p>
            </li>
        </ul>
    </div>
</section>