<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__container">
    <a href="" class="logo-mobile">
      <svg class="logo_svg" width="40" height="37">
        <use href="./images/sprite-svg/symbol-arial.svg#icelogo"></use>
      </svg>
    </a>
    <button class="mobile-menu__close-btn" data-menu-close>
      <svg class="mobile-menu__close-icon" width="32" height="32">
        <use href="./images/sprite-svg/symbol-arial.svg#ep_close"></use>
      </svg>
    </button>
    <nav>
      <nav class="site-nav-mobile">
        <ul class="site-nav-mobile__list">
          <li class="site-nav-mobile__items">
            <a href="#home" class="site-nav-mobile__links">Home</a>
          </li>

          <li class="site-nav-mobile__items">
            <a href="#how-made" class="site-nav-mobile__links"
              >How it&#39;s made?</a
            >
          </li>
          <li class="site-nav-mobile__items">
            <a href="#our-products" class="site-nav-mobile__links"
              >Our products</a
            >
          </li>
          <li class="site-nav-mobile__items">
            <a href="#contact" class="site-nav-mobile__links">Contact</a>
          </li>
        </ul>
      </nav>

      <button
        class="btn-bg__buy-now btn-bg__buy-now_mobile-menu click-buy-now"
        type="button"
        data-modal-open-buy-now-mobile
      >
        <span>Buy now</span> <span class="btn__symbol">&#62;</span>
      </button>
    </nav>
  </div>
</div>
<!-- <script src="./index.js"></script> -->
