<div class="backdrop-products is-hidden-products" data-modal-product-one>
    <div class="modal-products">
        <button type="button" class="modal-close-btn" data-modal-product-one-close>
            <svg class="modal-close-btn__icon">
                <use href="./images/sprite-svg/symbol-arial.svg#close-btn"></use>
            </svg>
        </button>
        <h2 class="madal-products__title">
            Chololate icecream
        </h2>
        <div class="madal-products__img-body">
            <img src="./images/products/modal-img-product.png" alt="ice cream" class="madal-products__img">
        </div>
        <ul class="madal-products__nutrition-block">
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">320</p>
                <p class="madal-products__nutrition-name">kcal</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">4g</p>
                <p class="madal-products__nutrition-name">Protein...</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">8,2g</p>
                <p class="madal-products__nutrition-name">Fats</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">40,4g</p>
                <p class="madal-products__nutrition-name">Carbs</p>
            </li>
        </ul>
        <p class="madal-products__ingredients-title">Ingredients</p>
        <ul class="madal-products__ingredients">
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Milk</p>
                <p class="madal-products__mass">100ml</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Belgian chocolate</p>
                <p class="madal-products__mass">20g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Cream</p>
                <p class="madal-products__mass">150 ml</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Cocoa powder</p>
                <p class="madal-products__mass">30g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Sugar</p>
                <p class="madal-products__mass">40g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Vanilla sugar</p>
                <p class="madal-products__mass">10g</p>
            </li>
        </ul>
        <form class="madal-products__form">
            <input type="text" class="madal-products__input" pattern="^[a-zA-Zа-яА-Я]+$" minlength="2"
                placeholder="Name" required>
            <input type="tel" class="madal-products__input" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xxx-xxx-xx-xx" placeholder="Phone" required>
            <textarea placeholder="Comment" class="madal-products__message"
                pattern="^[a-zA-Zа-яА-Я]+[1-9]+$"></textarea>
            <button type="submit" class="btn-bg__buy-now btn-bg__madal-products">Submit</button>
        </form>
    </div>
</div>

<div class="backdrop-products is-hidden-products" data-modal-product-two>
    <div class="modal-products">
        <button type="button" class="modal-close-btn" data-modal-product-two-close>
            <svg class="modal-close-btn__icon">
                <use href="./images/sprite-svg/symbol-arial.svg#close-btn"></use>
            </svg>
        </button>
        <h2 class="madal-products__title">
            Chololate icecream
        </h2>
        <div class="madal-products__img-body">
            <img src="./images/products/modal-img-product.png" alt="ice cream" class="madal-products__img">
        </div>
        <ul class="madal-products__nutrition-block">
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">320</p>
                <p class="madal-products__nutrition-name">kcal</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">4g</p>
                <p class="madal-products__nutrition-name">Protein...</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">8,2g</p>
                <p class="madal-products__nutrition-name">Fats</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">40,4g</p>
                <p class="madal-products__nutrition-name">Carbs</p>
            </li>
        </ul>
        <p class="madal-products__ingredients-title">Ingredients</p>
        <ul class="madal-products__ingredients">
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Milk</p>
                <p class="madal-products__mass">100ml</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Belgian chocolate</p>
                <p class="madal-products__mass">20g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Cream</p>
                <p class="madal-products__mass">150 ml</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Cocoa powder</p>
                <p class="madal-products__mass">30g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Sugar</p>
                <p class="madal-products__mass">40g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Vanilla sugar</p>
                <p class="madal-products__mass">10g</p>
            </li>
        </ul>
        <form class="madal-products__form">
            <input type="text" class="madal-products__input" pattern="^[a-zA-Zа-яА-Я]+$" minlength="2"
                placeholder="Name" required>
            <input type="tel" class="madal-products__input" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xxx-xxx-xx-xx" placeholder="Phone" required>
            <textarea placeholder="Comment" class="madal-products__message"
                pattern="^[a-zA-Zа-яА-Я]+[1-9]+$"></textarea>
            <button type="submit" class="btn-bg__buy-now btn-bg__madal-products">Submit</button>
        </form>
    </div>
</div>

<div class="backdrop-products is-hidden-products" data-modal-product-three>
    <div class="modal-products">
        <button type="button" class="modal-close-btn" data-modal-product-three-close>
            <svg class="modal-close-btn__icon">
                <use href="./images/sprite-svg/symbol-arial.svg#close-btn"></use>
            </svg>
        </button>
        <h2 class="madal-products__title">
            Chololate icecream
        </h2>
        <div class="madal-products__img-body">
            <img src="./images/products/modal-img-product.png" alt="ice cream" class="madal-products__img">
        </div>
        <ul class="madal-products__nutrition-block">
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">320</p>
                <p class="madal-products__nutrition-name">kcal</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">4g</p>
                <p class="madal-products__nutrition-name">Protein...</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">8,2g</p>
                <p class="madal-products__nutrition-name">Fats</p>
            </li>
            <li class="madal-products__nutrition">
                <p class="madal-products__nutrition-mass">40,4g</p>
                <p class="madal-products__nutrition-name">Carbs</p>
            </li>
        </ul>
        <p class="madal-products__ingredients-title">Ingredients</p>
        <ul class="madal-products__ingredients">
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Milk</p>
                <p class="madal-products__mass">100ml</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Belgian chocolate</p>
                <p class="madal-products__mass">20g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Cream</p>
                <p class="madal-products__mass">150 ml</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Cocoa powder</p>
                <p class="madal-products__mass">30g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Sugar</p>
                <p class="madal-products__mass">40g</p>
            </li>
            <li class="madal-products__ingredient">
                <p class="madal-products__products">Vanilla sugar</p>
                <p class="madal-products__mass">10g</p>
            </li>
        </ul>
        <form class="madal-products__form">
            <input type="text" class="madal-products__input" pattern="^[a-zA-Zа-яА-Я]+$" minlength="2"
                placeholder="Name" required>
            <input type="tel" class="madal-products__input" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xxx-xxx-xx-xx" placeholder="Phone" required>
            <textarea placeholder="Comment" class="madal-products__message"
                pattern="^[a-zA-Zа-яА-Я]+[1-9]+$"></textarea>
            <button type="submit" class="btn-bg__buy-now btn-bg__madal-products">Submit</button>
        </form>
    </div>
</div>