<section class="slider">
    <div class="conteiner">
        <div class="picture-ice">
            <picture>
                <source srcset="./images/slider/brooke-lark-desk.jpg 1x, ./images/slider/brooke-lark-desk2x.jpg 2x"
                    media="(min-width: 1200px)" />

                <source srcset="./images/slider/brooke-lark-table.jpg 1x, ./images/slider/brooke-lark-table2x.jpg 2x"
                    media="(min-width: 768px)" />

                <source srcset="./images/slider/brooke-lark.jpg 1x, ./images/slider/brooke-lark-2x.jpg 2x"
                    media="(max-width: 767px)" />

                <img src="./images/slider/brooke-lark-desk.jpg" alt="img-ice" class="phto-ice" />
            </picture>
        </div>
        <!------ SLIDER -------->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-photo">
                        <picture>
                            <source srcset="./images/slider/pexels-elias-de-carvalho.jpg 1x, ./images/slider/pexels-elias-de-carvalho-2x.jpg 2x">
                            <img src="./images/slider/pexels-elias-de-carvalho.jpg" width="110px" height="164px"
                                alt="elias" class="slider-img">
                        </picture>
                    </div>
                    <p class="slider-coment">
                        I love visiting your cafe.
                        You prepare the most delicious ice cream in Los Angeles!
                        In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </p>
                    <p class="position-area">Emily, Los Angeles</p>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-photo">
                        <picture>
                            <source srcset="./images/slider/pexels-edu-carvalho.jpg 1x, ./images/slider/pexels-edu-carvalho-2x.jpg 2x">
                            <img src="./images/slider/pexels-edu-carvalho.jpg" width="110px" height="164px" alt="elias"
                            class="slider-img">
                        </picture>
                    </div>
                    <p class="slider-coment">
                        Ice cream is my passion! I love your chocolate
                        hazelnut ice cream! And I really like the excellent service - always served politely and
                        quickly!
                    </p>
                    <p class="position-area">Diana, Chicago</p>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-photo">
                        <picture>
                            <source srcset="./images/slider/pexels-nappy.jpg 1x, ./images/slider/pexels-nappy-2x.jpg 2x">
                            <img src="./images/slider/pexels-nappy.jpg" width="110px" height="164px" alt="elias"
                                class="slider-img">
                        </picture>
                    </div>
                    <p class="slider-coment">
                        Every day we come to you with friends after classes in
                        college. We love your ice cream and casual atmosphere!
                    </p>
                    <p class="position-area">Bryan, New-York</p>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-photo">
                        <picture>
                            <source srcset="./images/slider/pexels-reead.jpg 1x, ./images/slider/pexels-reead-2x.jpg 2x "/>
                        <img src="./images/slider/pexels-reead.jpg" width="110px" height="164px" alt="elias"
                            class="slider-img">
                        </picture>
                    </div>
                    <p class="slider-coment">
                        I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to
                        everyone I know.

                    </p>
                    <p class="position-area">Sam, Los Angeles</p>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination bullet-bg-white bullet"></div>
        </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="/src/js/script-slider.js"></script>