<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
</head>
<body>
    <section class="slider">
        <div class="slider-section"> 
            <div class="picture-ice">
                <picture>
                 <source srcset="./images/brooke-lark.jpg" media="(min-width:480px)"/>
                 <img src="./images/brooke-lark.jpg" alt="img-ice" width="279px" height="130px" class="phto-ice">
             </picture>
            </div>
                <!------ SLIDER -------->
            <div class="swiper">
                    <div class="swiper-wraper">
                        <div class="swiper-slide">
                            <div class="swiper-photo">
                                <picture>
                                    <source srcset="./images/pexels-elias-de-carvalho.jpg" media="(min-width:480px)"/>
                                    <img src="./images/pexels-elias-de-carvalho.jpg" alt="elias" class="elias">
                                </picture>
                            </div>
                                <p class="slider-coment">
                                I love visiting your cafe.
                                You prepare the most delicious ice cream in Los Angeles! 
                                In addition, you have beautiful serving, cozy atmosphere and polite staff.
                                </p>
                                <p class="position-area">Emily, Los Angeles</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</body>
</html>