.mobile-menu {
  position: fixed;
  width: 100%;

  height: 100vw;

  z-index: 999;
  top: 0;
  left: 0;
  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.logo-mobile {
  position: absolute;
  top: 12px;
  left: 31px;
}
.mobile-menu.is-open {
  // opacity: 1;
  // visibility: visible;
  // pointer-events: auto;
  transform: translateX(0);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.mobile-menu__container {
  position: relative;

  height: 100vh;

  background-color: #85a279;
  padding-top: 100px;
  display: block;
  text-align: center;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 16px;
  right: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 0;
}

.site-nav-mobile__links {
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  &:hover,
  &:focus {
    color: #000;
  }
}
.site-nav-mobile__items:not(:first-child) {
  margin-top: 32px;
}
.btn-bg__buy-now_mobile-menu {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu__close-btn {
    top: 16px;
    right: 14px;
  }
  .site-nav-mobile__links {
    font-size: 48px;
  }
  .site-nav-mobile__items:not(:first-child) {
    margin-top: 40px;
  }
  .mobile-menu__container {
    padding-top: 140px;
  }
  .btn-bg__buy-now_mobile-menu {
    display: none;
  }
  .logo-mobile {

    fill: #f8d24e;

    position: absolute;
    top: 20px;
    left: 32px;
  }
  .mobile-menu__close-btn {
    top: 32px;
    right: 32px;
  }
}
