.modal {
    // height: 581px;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    
}
.modal-image-gread {
    display: flex;
    justify-content: center;
    padding-top: 72px;
}
.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    background-color: transparent;
    padding: 0;
    border: none;
}

.modal__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin-top: 28px;
    margin-bottom: 20px;
    text-align: center;
}


.modal-cards__items:not(:first-child) {
    margin-top: 83px;
}

.modal-cards__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    width: 130px;
    height: 130px;
}
.modal-cards__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
}
.modal-cards__links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 130px;
    height: 135px;
    padding-bottom: 20px;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
}
.modal-cards__image::before {
    content: '';
    width: 130px;
    height: 130px;
    -webkit-border-radius: 98.6301px;
    -moz-border-radius: 98.6301px;
    border-radius: 98.6301px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 3.8%);
    z-index: -1;
}

// ------- Shake variables -------

// Circle

.icecream-image.modal-cards__image::before {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.icecoffee-image.modal-cards__image::before {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.milkshake-image.modal-cards__image::before {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

// Border

.icecream-links.modal-cards__links {
    border: 2px solid #96AF8C;
    &:hover,
    &:focus {
        background-color: #96AF8C;
    }
}
.icecoffee-links.modal-cards__links {
    border: 2px solid #EFD478;
    &:hover,
    &:focus {
        background-color: #EFD478;
    }
}
.milkshake-links.modal-cards__links {
    border: 2px solid #D6936D;
    &:hover,
    &:focus {
        background-color: #D6936D;
    }
}
// ------- /Shake variables -------
