:root {
  --acent-color: #f8d24e;
  --contact-acent-text-color: #d6936d;
  --milkshakes-bg-color: #d6936d;

  --text-color-light: #fcfcfc;
  --text-color-black: #131313;

  //   product cart
  --first-product-bg: #d6936d;
  --second-product-bg: #efd478;
  --three-product-bg: #d6936d;

  --button-acent-color: #f8d24e;
  --button-hover-color: #0a8817;
  --button-disablet-color: #ababab;

  --section-bg-color: #84a178;

  // modal buy now

  --modal-imput-bg-color: rgba(248, 210, 78, 0.1);

  // button
  --btn-defolt-bg-color: rgba(248, 210, 78, 1);
  --btn-hover-bg-color: rgba(10, 136, 23, 1);
  --btn-disable-bg-color: rgba(171, 171, 171, 1);

  --bnt-dark-text-color: rgba(0, 0, 0, 1);
  --btn-light-text-color: rgba(252, 252, 252, 1);

  --front-font: 'Montserrat', sans-serif;

  --cubik-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
