:root {
  --acent-color: #f8d24e;
  --contact-acent-text-color: #d6936d;
  --milkshakes-bg-color: #d6936d;

  --text-color-light: #fcfcfc;
  --text-color-black: #131313;

  //   product cart
  --first-product-bg: #d6936d;
  --second-product-bg: #efd478;
  --three-product-bg: #d6936d;

  --button-acent-color: #f8d24e;
  --button-hover-color: #0a8817;
  --button-disablet-color: #ababab;

  --section-bg-color: #84a178;

  // modal buy now

  --modal-imput-bg-color: rgba(248, 210, 78, 0.1);
}
