.contacts{
    background: #84A178;
}
.contacts-information-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (min-width: 768px){
        gap: 16px;
    }
    @media screen and (min-width: 1200px){
        gap: 32px;
    }
    
}
.contacts-information-list__item{
    display: block;
    width: 100%;

    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    @media screen and ( max-width: 767px) {
        padding-right: 32px;
        padding-left: 32px;

        background: #FCFCFC;
    }
    @media screen and (min-width: 768px){
        padding-right: 24px;
        padding-left: 24px;
        width:calc((100% - 32px)/3);
        background: #FFFFFF;
    }
    @media screen and (min-width: 1200px){
        padding-right: 40px;
        padding-left: 40px;
        width: calc((100% - 64px)/3);
    }
}
.contacts-location-list__item-name{
    display: inline-block;
    margin-bottom: 20px;
    background-color: var(--acent-color);
    font-family: var(--front-font);
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.04em;
    @media screen and (max-width: 767px) {
        // width: 80px;
        // height: 16px;
        padding-right: 22px;
        padding-left: 22px;
        
        font-size: 12px;
        
        
        text-align: center;
        
        
        color: var(--text-color-light);
        border-radius: 4px;
    }
    @media screen and (min-width: 768px){
        margin-bottom: 32px;
        width: 73px;
        height: 28px;
      
            font-size: 16px;
        
            text-align: center;
           
        
            color: var(--text-color-black);
            border-radius: 6px;
    }
    @media screen and (min-width: 1200px) {}
}
// .contacts-food_truck{
//     @media screen and (max-width: 767px){
//         width: 130px;
//     }
//     @media screen and (min-width: 768px){
//         width: 138px;
//     }
// }
.contacts-location-list__item-sity{
    margin-bottom: 8px;
    font-family: var(--front-font);
    
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
        
    
    letter-spacing: 0.04em;
    
    color: #000000;
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
        font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 8px;
        font-size: 16px;
    }

}
.contacts-location-list__item-address{
    margin-bottom: 24px;
    padding-bottom: 24px;

    font-family: var(--front-font);
    
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    
    letter-spacing: 0.04em;
    
    color: #D6936D;
    @media screen and (min-width: 768px) {
        // margin-bottom: 32px;
        // padding-bottom: 32px;
        font-size: 14px;
    }
        
    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}
.contacts-opening_hours-list__item-days{
    font-family: var(--front-font);
        
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
        
    
    
    color: #000000;
    @media screen and (min-width: 768px) { 
            font-size: 14px;
            color: var(--text-color-black);
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            color: #000000;
        }
}
.contacts-opening_hours-list__item{
    font-family: var(--front-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
        
    
    
    color: #ABABAB;
    @media screen and (min-width: 768px) {
            font-size: 14px;
            color: #907E82;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            color: #ABABAB;
        }
}